body{
	font-family: 'PT Sans', sans-serif;
	background-color: #252529;
	margin: 0;
	color: #fff;
	line-height:1.6 ;
}
a{
	text-decoration: none;
	color: #ccc;
}
#showcase{
	margin: 0;
	padding: 0;
	background: url('Krish.jpeg') no-repeat center/cover;
	width: 100%;
	height: 100vh;
    position: relative;
    overflow: hidden;
}
#showcase .container{
	margin-top: 25vh;
}
#showcase h1{
	font-size:4rem;
	margin-bottom: 0;
}
#showcase h2{
	font-size:2rem;

}
nav{
	height: 40px;
	width: 100%;
	background-color: #333;
	color:rgb(53, 34, 34);
	position: fixed;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav li{
	display:inline;
	float: left;
}
nav a{
	display:inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	color:#eee;
}
nav li:hover{
background-color: #444;
}
.container{
max-width: 1180 px;
text-align: center;
margin: 0 auto;
padding: 0 3rem;
}
.lead{
	font-size:1.3rem;
}
footer .footer-cols{
display: grid;
grid-gap:20px;
grid-template-columns:repeat(4,1fr);
padding:left;
font-size: 14px;
}
footer.footer-cols ul{
	list-style:none;
}
footer.footer-cols ul li:first-child {
font-size:1.2rem;
padding-bottom: 0.5rem;
border-bottom: #444 solid 1px;
margin-bottom: 1rem;
}
footer.footer-bottom{
	background-color:#333;
	paddig: 1rem;
	text-align: center;
}
